<p class="header">How'd we do?</p>

<p class="overall_status"><%= @overall_status %></p>

<% @team_updates.each do |update| %>
  <div class="team_square">
    <div class="team_bubble <%= update[:team_name] %>">
      <% if update[:outcome] == 'N/A' %>
        <div class="circle"></div>
      <% end %>
    </div>
    <p><%= update[:update] %></p>
  </div>
<% end %>
<div id="social_share">
  <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="bostonsports">Tweet</a>&nbsp;
  <div class="fb-share-button" data-href="http://www.howdourteamsdo.com/" data-type="button"></div>
</div>
