@import url(http://fonts.googleapis.com/css?family=Allura|Playfair+Display+SC);

body {
	background-color: #464368;
	color: white;
	text-align: center;
	margin-top: 20px;
}

.header {
  font-family: 'Allura', cursive;
  font-size: 35px;
}

.overall_status {
	font-family: 'Playfair Display SC', serif;	
	font-size: 50px;
	margin-top: 50px;
  padding-bottom: 40px;
}

.team_square {
  display: inline-block;
  width: 250px;
  height: 200px;
}

.team_bubble {
	height: 100px;
	width: 100px;
  background-color: white;
  border-radius: 50%;
  margin: auto;
}

.red_sox {
	background-image: url('redsox.png');
}

.bruins {
	background-image: url('bruins.png');	
}

.celtics {
	background-image: url('celtics.png');
}

.patriots {
	background-image: url('patriots.png');
}