@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC);

body {
	background-color: #464368;
	color: white;
	text-align: center;
	margin-top: 20px;
}

.header {
	font-family: 'Playfair Display SC', serif;	
	font-size: 20px;
}

.overall_status {
	font-size: 50px;
	margin-top: 50px;
}

.team_bubble {
	display: inline-block;
	height: 100px;
	width: 100px;
}

.red_sox {
	/*background-image: url('redsox.gif');*/
}

.bruins {
	
}

.celtis {
	
}

.patriots {
	
}