@import url(http://fonts.googleapis.com/css?family=Allura|Playfair+Display+SC);

body {
	background-color: #464368;
	color: white;
	text-align: center;
	margin-top: 20px;
}

.header {
  font-family: 'Allura', cursive;
  font-size: 35px;
}

.overall_status {
	font-family: 'Playfair Display SC', serif;	
	font-size: 50px;
	margin-top: 50px;
  padding-bottom: 40px;
}

.team_square {
  display: inline-block;
  width: 280px;
  height: 200px;
}

.team_bubble {
	height: 100px;
	width: 100px;
  background-color: white;
  border-radius: 50%;
  margin: auto;
}

.circle {
  background-image: url('black_cover.png');
  height: 100px;
  width: 100px;
  border-radius: 50%;
  opacity: .7;
  position: fixed;
}

.Red_Sox {
	background-image: url('redsox.png');
}

.Bruins {
	background-image: url('bruins.png');	
}

.Celtics {
	background-image: url('celtics.png');
}

.Patriots {
	background-image: url('patriots.png');
}